<div class="container">
    <h3 class="main-header"><%= @film[:decade] %>s</h3>

    <img src=<%= @film[:poster] %> alt=<%= @film[:title] %> id="film_info_poster">

    <div class="panel panel-default">
      <h2><%= @film[:title] %></h2>
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <p> IMDb Rating: <%= @film[:imdb_rating] %></p>
            <p> Rotten Tomatoes Rating: <%= @film[:tomatoes_rating] %></p>
            <p> Flix Rating: <%= @film[:flix_rating] %></p>
          </div>
        </div>
          <p> Release Date: <%= @film[:release_date] %></p>
          <p> Genre: <%= @film[:genre] %></p>
          <p> Director: <%= @film[:director] %></p>
          <p> Plot: <%= @film[:description] %></p>

          <h2>Is <%= @film[:title] %> one of your top 3 <%= @film[:decade] %>s  movies?</h2>
          <h2>Cast your vote!</h2>
          <%= link_to image_tag("/assets/1.png"), {:controller => 'votes', :action => "vote", vote_type: "GoldVote", film_imdb_id: @film[:imdb_id] } %>
          <%= link_to image_tag("/assets/2.png"), {:controller => 'votes', :action => "vote", vote_type: "SilverVote", film_imdb_id: @film[:imdb_id] } %>
          <%= link_to image_tag("/assets/3.png"), {:controller => 'votes', :action => "vote", vote_type: "BronzeVote", film_imdb_id: @film[:imdb_id] } %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Your top rated films of the <%= @film[:decade] %>s:</h4>
      </div>
      <% if logged_in? %>
        <div class="panel-body">
          <% @data.each do |item| %>
            <% if item[:decade] == @film[:decade] %>
              <div class="row">
                <% ["GoldVote","SilverVote","BronzeVote"].each do |vote_type| %>
                  <% if !item[:votes][vote_type] %>
                    <div class="small-poster">
                      <img src="/assets/cast_your_vote" alt="Yet to vote">
                    </div>
                  <% else %>
                    <div class="small-poster" >
                      <img src=<%= item[:votes][vote_type]["poster"] %> alt=<%= item[:votes][vote_type]["title"] %> >
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="row">
          <% 3.times do %>
            <div class="small-poster">
              <img src="/assets/cast_your_vote" alt="Yet to vote">
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
