<div class="container">
  <h2 class="main-header">The top 3 films of each decade!</h2>
  <h3 class="sub-header">Disagree? Nominate your top 3 films for each decade. Search for your favourite films and cast your vote!</h3>

  <div class="row">
    <h2 class="col-xs-3 col-md-offset-2 top_nums">1</h2>
    <h2 class="col-xs-3 top_nums">2</h2>
    <h2 class="col-xs-3 top_nums">3</h2>
  </div>

  <div>
    <% if @data %>
      <% @data.each do |item| %>
        <div class="row">
          <p class="decade col-xs-2"><%= item[:decade] %></p>
          <% [1, 2, 3].each do |ranking| %>
            <% if !item[:top_films][ranking] %>
              <div class="top-film col-xs-3">
                <img src="<%= "/assets/#{ranking}.png" %>" alt="No vote yet" class="top-film-poster-rank img-responsive center-block">
              </div>
            <% else %>
              <div class="top-film col-xs-3" >
                <form action="/find_film/<%= item[:top_films][ranking]["imdb_id"] %>" method="get">
                  <button type="submit" class="poster-btn"><img src=<%= item[:top_films][ranking]["poster"] %> alt=<%= item[:top_films][ranking]["title"] %> class="top-film-poster img-responsive center-block"></button>
                </form>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <% ["60", "70", "80", "90", "00", "10"].each do |item| %>
        <div class="row">
          <p class="decade col-xs-2"><%= item[:decade] %></p>->
          <% [1, 2, 3].each do |ranking| %>
            <div class="top-film col-xs-3">
              <img src="<%= "/assets/#{ranking}.png" %>" alt="No vote yet" class="top-film-poster-rank img-responsive center-block">
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
